@using Blog.Core.Entities
@using Microsoft.AspNetCore.Identity
@model PostComentarioViewModel
@inject SignInManager<Autor> SignInManager
<div class="container-fluid">
    <h1 style="    text-align: center;">@Model.Post.Titulo</h1>

    <p>
        @Model.Post.Conteudo
    </p>

    <hr />

    @if (SignInManager.IsSignedIn(User))
    {
        @using (Html.BeginForm("CreateComment", "Post", FormMethod.Post))
        {
            <div class="container" style="    background-color: #80808014;  padding: 22px;   border-radius: 13px;">
                <h2>Comentário</h2>


                <div class="form-group">
                    @Html.Hidden("PostId", Model.Post.Id) 
                    @Html.TextArea("Comentario", null, new { @class = "form-control", rows = 5, placeholder = "Escreva seu artigo aqui..." })
                    @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })

                </div>

                <br />
                <button type="submit" class="btn btn-primary">Publicar</button>

            </div>
        }
    }
    <br />
    @foreach (var comentario in Model.Post.Comentarios)
    {

        <div style="    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 7px;">
            <h5 class="mt-0">@comentario.Autor.UserName</h5>
            <p class="comment-content">
                @comentario.Conteudo
                @comentario.CreateAt
            </p>
        </div>

        <hr />

    }

</div>