@{
    ViewData["Title"] = "Home Page";
}


 @model Blog.Web.Models.ListaPostViewModel

@functions {
    public string Truncate(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= maxLength)
            return text;

        return text.Substring(0, maxLength) + "...";
    }
}

@foreach (var item in Model.ListaPosts)
{




    <div class="container mt-5">
        <div class="card" style="width: 47rem; margin:auto;">
            <div class="card-body">
                <h5 class="card-title"><b> @item.Titulo </b></h5>
                <p class="card-text">@Truncate(item.Conteudo, 300)</p>

                <a asp-controller="Post" asp-action="Index" asp-route-id="@item.Id" type="button" class="btn btn-outline-secondary">Saiba mais</a>


                <ul style="list-style-type: none; padding: 0; margin: 0; display: flex; gap: 10px;float: right;">
                    <li><b>Autor: </b>@item.Autor.UserName</li>

                    <li><b>Data: </b>@item.CreateAt.ToString("dd/MM/yyyy")
                    <li>
                </ul>

            </div>
        </div>
    </div>
}