@{
    ViewData["Title"] = "Home Page";
}


 @model Blog.Web.Models.PostViewModel

@functions {
    public string Truncate(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= maxLength)
            return text;

        return text.Substring(0, maxLength) + "..."; 
    }
}

@foreach (var item in Model.ListaPosts)
{
    



  <div class="container mt-5">
    <div class="card" style="width: 47rem; margin:auto;">
      <div class="card-body">
                <h5 class="card-title"><b> @item.Titulo </b></h5>
                <p class="card-text">@Truncate(item.Conteudo, 100)</p> 
                <p class="card-text">@item.Autor.UserName</p>
                <p class="card-text">@item.CreateAt</p>
                <p class="card-text">@item.UpdateAt</p>
                <a asp-controller="Post" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Saiba mais</a>
      </div>
    </div>
	</div>
}